<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/jpg" href="https://media.istockphoto.com/vectors/letter-z-hand-drawn-with-dry-brush-lowercase-vector-id484207150?k=20&m=484207150&s=612x612&w=0&h=2Q4TNt6bTTbFUvK-g3bXvS2PRQW9mKB6uisl3Bw2jm8="/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/search_page.css' %}">
    <script src="{% static 'js/search_page.js' %}"></script>
    


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Advance Search</title>
  </head>
  <style>
    .css-selector {
      background: linear-gradient(144deg, #13243f, #2b579b);
      background-size: 400% 400%;
  
      -webkit-animation: AnimationName 43s ease infinite;
      -moz-animation: AnimationName 43s ease infinite;
      animation: AnimationName 43s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 10%}
      50%{background-position:100% 91%}
      100%{background-position:0% 10%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 10%}
      50%{background-position:100% 91%}
      100%{background-position:0% 10%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 10%}
      50%{background-position:100% 91%}
      100%{background-position:0% 10%}
  }
  </style>
  <body>
    <!-- <h1>Search Here</h1> -->
    <html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
  </head>
  <body class="css-selector">
    <nav class="navbar navbar-expand-md navbar-light bg-trans pt-3 pr-5 pl-5">
      <div class="container">
        <a class="navbar-brand text-white" href="/">Z4_CODES</a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
            <a class="nav-link text-white" href="#">Features</a>
            <a class="nav-link text-white" href="#">Pricing</a>
          </div>
        </div> -->
        <!-- <ul class="nav justify-content-center pt-3 pr-5 pl-5">
          <li class="nav-item">
            <a class="nav-link active text-white " aria-current="page" href="#">Teacher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Student</a>
          </li>
        </ul> -->
        <div class="customnav  ">
        </div>
      </div>
    </nav>
    <div class="s010 mt-4">
      <form action="/search" method="get">
        <div class="inner-form">
          <div class="basic-search">
            <div class="input-field">
              <input id="search" type="text" name="search" placeholder="Type your question " />
              <div class="icon-wrap">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                </svg> -->
              </div>
            </div>
          </div>
          <div class="advance-search">
            <span class="desc">ADVANCED SEARCH</span>
            <div class="row">
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="university">
                    <option placeholder="" value="">University / College</option>
                    <option>DTU</option>
                    <option>IPU</option>
                    <option>NSUT</option>
                    <option>RTU</option>
                  </select>
                </div>
              </div>
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="branch">
                    <option placeholder="" value="">Branch</option>
                    <option>CSE</option>
                    <option>IT</option>
                    <option>ECE</option>
                    <option>AI/ML</option>
                    <option>AI/DS</option>
                    <option>ME</option>
                    <option>CIVIL</option>
                  </select>
                </div>
              </div>
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="subject">
                    <option placeholder="" value="">Subject</option>
                    <option>Applied PHY</option>
                    <option>Applied Maths</option>
                    <option>Programming 'c'</option>
                    <option>Programming 'python'</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row second">
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="sem">
                    <option placeholder="" value="">SEM ( )</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <!-- <option>SEM ( 8 )</option> -->
                  </select>
                </div>
              </div>
              <!-- <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="choices-single-defaul">
                    <option placeholder="" value="">Time</option>
                    <option>Last time</option>
                    <option>Today</option>
                    <option>This week</option>
                    <option>This month</option>
                    <option>This year</option>
                  </select>
                </div>
              </div> -->
              <!-- <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" name="choices-single-defaul">
                    <option placeholder="" value="">Type</option>
                    <option>Subject b</option>
                    <option>Subject c</option>
                  </select>
                </div>
              </div> -->
            </div>
            <div class="row third">
              <div class="input-field">
                <div class="result-count">
                  <span>{{ range }}</span>results</div>
                <div class="group-btn">
                  <button class="btn-delete" type="reset" id="delete">RESET</button>
                  <button class="btn-search text-black">SEARCH</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="js/extention/choices.js"></script>
    <script>
      const customSelects = document.querySelectorAll("select");
      const deleteBtn = document.getElementById('delete')
      const choices = new Choices('select',
      {
        searchEnabled: false,
        itemSelectText: '',
        removeItemButton: true,
      });
      for (let i = 0; i < customSelects.length; i++)
      {
        customSelects[i].addEventListener('addItem', function(event)
        {
          if (event.detail.value)
          {
            let parent = this.parentNode.parentNode
            parent.classList.add('valid')
            parent.classList.remove('invalid')
          }
          else
          {
            let parent = this.parentNode.parentNode
            parent.classList.add('invalid')
            parent.classList.remove('valid')
          }
        }, false);
      }
      deleteBtn.addEventListener("click", function(e)
      {
        e.preventDefault()
        const deleteAll = document.querySelectorAll('.choices__button')
        for (let i = 0; i < deleteAll.length; i++)
        {
          deleteAll[i].click();
        }
      });

    </script>
  </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
